{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Node Info Detail {% endblock %}</h1>
</span>
<div class="container mt-5 mb-3">
    <div class="card p-3 mb-2">
        <b>
            <p class="h5 btn btn-outline-info">{{ node.node }}</p>
        </b>
        <p>{{ node.prometheus }}</p>
        <p>Record Created at: {{ node.creation_time }}</p>
        <div class="h6">
            <form action="{{ url_for('nodes.summary', node_id=node.id) }}" method="post">
                <div class="mb-3">
                    <input autofocus class="form-control" type="text" name="summary" placeholder="Please Type Your Comment Here" required>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Summary">
                </div>
            </form>
            {% if node.schedulable == false and node.current_not_ready == false %}
                <p class="h6"><span><a class="badge text-decoration-none" href="{{ bmaas_id }}""><span>{{ bmaas_id }}</span></a></span></p>
            {% else %}
                <p class="h6"><span><a class="badge text-decoration-none" href="#"><span>Method not allowed</span></a></span></p>
            {% endif %}            
            <h4>Summary</h4>
            <p>{{ node.summary }}</p>
            <h4>History</h3>
                {% for record in node.records %}
                <div class="h6">
                    <p>Incidence time: {{ record.creation_time }}<span><a class="badge p-1 text-decoration-none danger" href="{{ url_for('nodes.delete', node_id=node.id, record_id=record.id) }}"> <span>Delete</span> </a></span></p>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}